body,
html {
  height: 100%;
}
body {
  margin: 0px;
  background: url("./assets/bikiniBottom.png");
  background-size: cover;
  font-size: 18px;
}
body,
a:link,
a:visited,
a:active {
  color: lightblue;
}
.title,
.addDancerButton {
  padding: 5px 12px;
  float: right;
}
.topbar {
  height: 32px;
  background-color: #555;
}
.title {
  background-color: #777;
}
.dancer, .spinning, .jumping, .sizeable {
  position: absolute;
}
.dancer {
  border: 10px solid red;
  border-radius: 10px;
}
.blinky,
.spinning,
.jumping,
.sizeable {
  border: none;
  height: 5rem;
  width: 5rem;
}
.spinning {
  animation: spin 2s linear infinite;
}
.jumping {
  animation: bounce 1s infinite;
  height: 8rem;
  width: 8rem;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-10rem);}
  60% {transform: translateY(-2rem);}
}